@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@400;500;600&family=Poppins&family=Roboto&family=Rubik:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Manrope;
  box-sizing: border-box;
}
.container {
  width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
:root {
  --All: #469264;
  --background: #E5E5E5;
  --ligaTextColor: #777;
  --ligaBackgroundColor: #DAE9E0;
  --text: #fff;
  --card--title: #000;
  --view--all--heading: #EAEAEA;
  --cardBackgroundColor: #F4F5F7;
  --table--select-bg: #fff;
  --p_Color: #4A4B4C;
  --one--new--date: #333;
  --news-border--color: #D2D2D2;
}
:root   .active {
    --background: #16171B;
    --ligaTextColor: #fff;
    --ligaBackgroundColor: #3F534C;
    --card--title: #fff;
    --cardBackgroundColor: #151515;
    --p_Color: #959595;
    --view--all--heading: #4646468c;
    --table--select-bg: #16171B;
    --one--new--date: #7a7a7a;
    --news-border--color: #BCBCBC;
  }